.pwr-section{
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pwr-section__info{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
}

.pwr-section-bg-venyto1{background-image: url("https://i.postimg.cc/VvNGhxGs/Snapseed.jpg");}
.pwr-section-bg-venyto2{background-image: url("https://i.postimg.cc/BZhwFvbj/venyto2.jpg");}
.pwr-section-bg-venytobp1{background-image: url("https://i.postimg.cc/JzXTScqX/venytobp1.jpg");}
.pwr-section-bg-negra1{background-image: url("https://i.postimg.cc/43C03Fdw/negra1.jpg");}
.pwr-section-bg-negrasq1{background-image: url("https://i.postimg.cc/5NRGhtWh/negrasq1.jpg");}
.pwr-section-bg-negrasq2{background-image: url("https://i.postimg.cc/jdL34rnZ/negrasq2.jpg");}
.pwr-section-bg-negradl1{background-image: url("https://i.postimg.cc/kGh1PTzQ/negradl1.jpg");}
.pwr-section-bg-negradl2{background-image: url("https://i.postimg.cc/BQkYhwxs/negradl2.jpg");}
.pwr-section-bg-goncho1{background-image: url("https://i.postimg.cc/Z5fRtp5T/goncho1.jpg");}
.pwr-section-bg-gonchosq1{background-image: url("https://i.postimg.cc/ZRHsVbLD/gonchosq1.jpg");}
.pwr-section-bg-gonchobp1{background-image: url("https://i.postimg.cc/pTWqhNtQ/gonchobp1.jpg");}
.pwr-section-bg-gonchobp2{background-image: url("https://i.postimg.cc/HLQh848m/gonchobp2.jpg");}
.pwr-section-bg-gonchodl1{background-image: url("https://i.postimg.cc/25fHYbcK/gonchodl1.jpg");}