.nav-link{
    width: 100%;
    font-weight: 500;
}

.nav-link--dark:hover{
    transition: 0.4s;
    background-color: #fff;
    color: #000 !important
}

.navbar-brand{
    width: 87px;
}

.navbar-brand img{
    width: 100%;
}

/*media lg breakpoint*/
@media (min-width:992px) {
    .nav-link{
        width: 150px;
    }
}