@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800&display=swap');

@font-face {
    font-family: 'Friz Quadrata Bold';
    src: url("../src/assets/fonts/Friz\ Quadrata\ Bold.otf");
}

*{
    /* font-family: 'Phudu', cursive; */
    /* font-family: 'Friz Quadrata Bold',sans-serif; */
    font-family: 'Blinker', sans-serif;
}



*::selection{
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

*::-webkit-scrollbar{
    background-color: black;
    width: 10px;
}

*::-webkit-scrollbar-thumb{
    background-color: #333;
}

.grayscale-80{
    filter: grayscale(80%);
}

.btn-outline-light{
    transition: 0.3s !important;
}